.box-invite {
  width: 100%;
  background-color: #ffffff66;
  position: absolute;
  z-index: 1000;
}

.box-invite div {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.box-invite div p {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.box-invite a {
  background-color: #50a4d2;
  padding: 20px;
  display: block;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 8px;
}

.box-invite a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff6a60;
}