#my-location-page
.box-invite {
    width: 100%;
    position: absolute;
    z-index: 1000;
    height: 100px;
    background-color: #ffffff00;
    bottom: 70px;
}
#my-location-page
.box-invite div {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
#my-location-page
.box-invite div p {
    text-align: center;
    width: 240px;
    margin: 0 auto;
}
#my-location-page
.box-invite a {
    background-color: #50a4d2;
    padding: 20px;
    display: block;
    color: #fff;
    font-size: 1.5rem;
}
#my-location-page
.box-invite a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #ff6a60;
}